<div class="row" ng-controller="SignUpCtrl">
    <form class="col s12" name="signUpForm">
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signUpEmail"
                               name="email"
                               type="email"
                               class="validate"
                               required
                               ng-model="email"/>
                        <label for="signUpEmail">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="signUpPassword"
                               name="password"
                               type="password"
                               class="validate"
                               required
                               pattern=".{6,}"
                               ng-model="password"/>
                        <label for="signUpPassword"
                               data-error="Password must have at least 6 characters long">
                            Password
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <input id="signUpPasswordConfirm"
                               name="passwordConfirm"
                               type="password"
                               class="validate"
                               ng-model="passwordConfirm"
                               equals-validation="{{password}}"/>
                        <label for="signUpPasswordConfirm"
                               data-error="Diffrent passwords">
                            Confrim Password
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <input id="signUpCompanyName"
                               name="companyName"
                               type="text"
                               class="validate"
                               required ng-model="companyName"/>
                        <label for="signUpCompanyName">Company Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="signUpCompanyLogo"
                               name="companyLogo"
                               type="url"
                               class="validate"
                               required ng-model="companyLogo"/>
                        <label for="signUpCompanyLogo">Company Logo</label>
                    </div>
                    <div class="col s12">
                        <button class="btn waves-effect"
                                type="submit"
                                ng-click="submit()"
                                ng-disabled="signUpForm.$invalid || submitDisable">
                            Submit<i class="material-icons right">send</i>
                        </button>
                        <div>
                            <ul class="collection" ng-show="messages.length > 0">
                                <li class="collection-item" ng-repeat="message in messages" style="color: red;">{{message}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <img class="responsive-img" alt="Company Logo" ng-show="companyLogo" ng-src="{{companyLogo}}"/>
                </div>
            </div>
        </div>
    </form>
</div>